name: "Actions Jhona"

on:
  push:
    branches: ["main"]

jobs:
  deploy_jhona:
    runs-on: ubuntu-latest

    outputs:
      salida: ${{ steps.step_1.outputs.my_variable }}

    steps:
      - name: Working dir
        run: ls -al

      - name: Action
        uses: actions/checkout@v4

      - name: Working after
        id: step_1
        run: echo "my_variable=Hola mundo" >> $GITHUB_OUTPUT
      
      - name: message
        run: echo "${{ steps.step_1.outputs.my_variable }}"

  second_job:
    if: ${{ github.ref == 'refs/heads/main' }}
    needs: deploy_jhona
    runs-on: ubuntu-latest

    env:
      SALIDA: ${{ needs.deploy_jhona.outputs.salida }}

    steps:
      - run: echo "$SALIDA"